/* Reset básico */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000;
  color: white;
}

/* Container principal com imagem de fundo */
.app-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/bg-restaurante.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* fundo fixo */
}


/* Camada escura sobre o fundo */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.747);
  backdrop-filter: blur(1.5px);
  z-index: 0;
}

/* Header fixo no topo */
header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo responsiva */
.logo {
  width: 120px;
  height: auto;
  transition: all 0.3s ease;
}

@media screen and (max-width: 576px) {
  .logo {
    width: 100px;
  }
}

/* Conteúdo principal centralizado */
main {
  flex: 1;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  margin: 0px;
}


/* Card visual elegante */
.card-fancy {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 1rem;
  border: none;
  transition: transform 0.3s ease;
}